html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mobile, #mobile-text {
  display: none;
}

img {
  width: 100%;
  position: absolute;
  top: 5%;
}

video {
  height: 100%;
}

/* MOBILE */
@media (max-width: 465px) {
  video {
    display: none;
  }

  img#mobile-text {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
  }

  img#mobile {
    display: block;
    width: 105%;
    position: absolute;
    top: 0;
  }